#container
{
position:relative; 
margin-top:0px; 
margin-right:auto; 
margin-bottom:0px; 
margin-left:auto; 
width:900px; 
height:650px; 
}
#topo
{
width:900px; 
height:200px; 
background-image:url(../html/banner1.jpg);
background-repeat:no-repeat;
}
#menu
{
width:900px;
height:40px;
background-color:#5a6db9;
word-spacing:40px; 
padding-top:20px;
}
#link1
{
width:20px;
height:15px;
margin: left 255px;
float:left;
}
#link2
{
width:20px;
height:15px;
margin-left:70px;
float:left;
}
#link3
{
width:20px;
height:15px;
margin-left:90px;
float:left;
}
#link4
{
width:20px;
height:15px;
margin-left: 110px;
float:left;
}
#link5
{
width: 20px;
height: 15px;
margin-left: 80px;
float: left;

}
#conteudo
{
width:898px;
min-height:300px; 
border:1px solid #000;
overflow:hidden; 
}
.caixa
{
width:289px;
min-height:300px;
float:left;
margin:5px 5px 5px 5px;
}
.img 
{
width: 144px; 
height:70px;
float:left;    
}
.imagem1 { margin-left:25px; }

#rodape
{
width:880px;
height:45px;
background-color:#5a6db9;
padding:10px 10px 10px 10px;
}
p
{
font-family:Arial;
font-size:14px;
margin-top:0px;
margin-bottom:10px;
text-align:justify;
text-indent:20px; 
}

#menu a
{
font-family:Tahoma;
font-size:18px;
color:#FFF;
text-decoration:none; 
}
#menu a:hover
{
font-family:Tahoma;
font-size:20px;
color:#FF6
}
h1
{
font-family:"Arial Black";
color:#000;
text-align:center;
}
h2
{
font-family:"Courier New";
font-size:18px;
color:#000;
font-stretch:semi-expanded;
}
h3
{
font-family:Helvetica;
font-size:13px;
text-align:center;
color:#fefbfb;
font-style:italic;
}





